<!DOCTYPE html>
<html>
<head>
  <title>MongoidPaperclipMobile</title>
  <%= stylesheet_link_tag    "mongoid_paperclip_mobile/application", :media => "all" %>
  <%= javascript_include_tag "mongoid_paperclip_mobile/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
